﻿@{
    ViewBag.Title = "Contact Page";
}
<br />
<br />
<div>
    <div class="col-7" style="float: left;">
        <img src="~/Content/contactpage.jpg" style="width: 100%;" alt="Alternate Text" class="img-fluid"/>
    </div>
    <div class="col-5 textboxInfo" style="float: left; padding-top: 1em;">
        <h2 class="display-4">Our Story:</h2>
        <p>Family comes first with this company. We will take care of you with each visit. We started back in 1889 when we only owned about 10 cars in our company and to this day we own over a hundred. A family business is a commercial organization in which decision-making is influenced by multiple generations of a family — related by blood or marriage or adoption — who has both the ability to influence the vision of the business and the willingness to use this ability to pursue distinctive goals. They are closely identified with the firm through leadership or ownership. Owner-manager entrepreneurial firms are not considered to be family businesses because they lack the multi-generational dimension and family influence that create the unique dynamics and relationships of family businesses."</p>
        <h2 class="display-4">Contact Us:</h2>
        <p style="padding-left: 1em;">Email:<a style="padding-left: 1em;" href="mailto:CodysDealershop@gmail.com?">CodysDealershop@gmail.com</a></p>
        <p style="padding-left: 1em;">Phone:<a style="padding-left: 1em;" href="tel:3141234567">314-123-4567</a></p>
        <span class="col-4">
            <span>
                <a href="https://www.facebook.com/Codys-Dealership-505332353208542/?modal=admin_todo_tour">
                    <img src="~/Content/facebook.png" alt="Facebook"/>
                </a>
            </span> 
        </span>
        <span class="col-4">
            <span>
                <a href="https://twitter.com/CodyDealership">
                    <img src="~/Content/twitter.png" alt="Twitter"/>
                </a>
            </span>
        </span>
        <span class="col-4">
            <span>
                <a href="https://www.instagram.com/codysdealership/">
                    <img src="~/Content/instagram.png" alt="Instagram"/>
                </a>
            </span>
        </span>
        <div style="padding-bottom: 2em;">
        </div>
    </div>
</div>