﻿@model CodysDealership.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<br />

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#home"><h4>Body Styles</h4></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile"><h4>Brands</h4></a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="home">
        <div style="border: solid #375a7f;">
            <div class="genre-list row col-md-12">
                <div class="card m-2 col-md-3 col-lg-2 align-items-center" style="border-radius: 25px;">
                    <h4 class="card-body">
                        <img src="~/Content/BodyTypeImages/All.png" alt="All Car Photo" class="center" style="height: 3em;" />
                        <a href="@Url.Action("Index", "Car")" style="padding-left:1.5em">All</a>
                    </h4>
                </div>

                @foreach (var bodytype in Model.BodyStyles)
                {
                    string url = Url.Action("Index", "Car", new { BodyStyleId = bodytype.BodyStyleId });

                    <div class="card m-2 col-md-3 col-lg-2 align-items-center" style="border-radius: 25px;">
                        <h4 class="card-body">
                            @if (!String.IsNullOrWhiteSpace(bodytype.BodyTypeImage))
                            {
                                <a href="@url" class="center">
                                    <img src="@Url.Content(MyConstants.BODYTYPE_IMAGE_PATH + bodytype.BodyTypeImage)"
                                         alt="@bodytype.BodyType"
                                         class="center"
                                         style="height: 3em;" />
                                </a>
                            }
                            <a href="@url" class="center">@bodytype.BodyType</a>
                        </h4>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile">
        <div style="border: solid #375a7f;">
            <div class="genre-list row col-md-12">
                <div class="card m-2 col-md-3 col-lg-2 align-items-center" style="border-radius: 25px;">
                    <h4 class="card-body">
                        <img src="~/Content/BodyTypeImages/All.png" alt="All Car Photo" class="center" style="height: 3em;" />
                        <a href="@Url.Action("Index", "Car")" style="padding-left:1.5em">All</a>
                    </h4>
                </div>

                @foreach (var bodytype in Model.Makes)
                {
                    string url = Url.Action("Index", "Car", new { MakeId = bodytype.MakeId });

                    <div class="card m-2 col-md-3 col-lg-2 align-items-center" style="border-radius: 25px;">
                        <h4 class="card-body">
                            @if (!String.IsNullOrWhiteSpace(bodytype.MakeImage))
                            {
                                <a href="@url" class="center">
                                    <img src="@Url.Content(MyConstants.MAKE_IMAGE_PATH + bodytype.MakeImage)"
                                         alt="@bodytype.MakeName"
                                         class="center"
                                         style="height: 3em;" />
                                </a>
                            }
                            <a href="@url" class="center">@bodytype.MakeName</a>
                        </h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>