﻿@model CodysDealership.Models.Car

@{
    ViewBag.Title = "Create";
}
<br />
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(model => model.CarId)
    @Html.HiddenFor(model => model.MakeId)
    @Html.HiddenFor(model => model.BodyStyleId)*@
<div class="form-horizontal">
    <h4>Car</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @{
        var bodystyle = new SelectList(ViewBag.Bodystyle, "BodyStyleId", "BodyType");
    }

    <div class="form-group">
        <div style="padding-left:15px;">Body Style</div>
        <div class="col-md-10">
            @Html.DropDownList("BodyStyleId", bodystyle, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Make.MakeName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>
    </div>

    @{
        var makes = new SelectList(ViewBag.Makes, "MakeId", "MakeName");
    }

    <div class="form-group">
        <div style="padding-left:15px;">Make</div>
        <div class="col-md-10">
            @Html.DropDownList("MakeId", makes, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Make.MakeName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div style="padding-left:15px;">Model</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ModelName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ModelName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mileage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mileage, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mileage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VIN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.VIN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VIN, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Drivetrain, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Drivetrain, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Drivetrain, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sold, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Sold)
                @Html.ValidationMessageFor(model => model.Sold, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CarImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 image-upload">
            @Html.EditorFor(
                model => model.CarImage,
                new { HtmlAttribute = new { @class = "form-control m-1", size = 20, list = "movie_images" } })
            <input class="m-1" type="file" name="MovieImageFile" id="ImageInput"/>
            @Html.ValidationMessageFor(model => model.CarImage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
            $("#ImageInput").change(function (e) {
                $("#CarImage").val(this.files[0].name);
            });
</script>
}
