﻿@model CodysDealership.Models.Car
@using CodysDealership.ViewModels
@{
    ViewBag.Title = "Details";
}
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<br />
<div class="container">
    <h3 class="display-3">@String.Format("{0} {1} {2}", Model.Year, Model.Make.MakeName, Model.ModelName)</h3>
</div>
<div class="container">
    <div class="row col-md-12">
        @if (!String.IsNullOrWhiteSpace(Model.BodyStyle.BodyTypeImage))
        {
            <div class="col-md-6 mb-3">
                <img src="@Url.Content(MyConstants.CAR_IMAGE_PATH + Model.CarImage)"
                     style="width: 500px;"
                     alt="@Model.CarImage"
                     class="center"/>
            </div>
        }

        <div class="col-md-6 mb-3" style="border: solid 1px white">
            <h1>Details:</h1>
            <div class="displayDetails">@String.Format("Color: {0}", Model.Color)</div>
            <div class="displayDetails">@String.Format("Price: {0}", Model.Price)</div>
            <div class="displayDetails">@String.Format("Mileage: {0}", Model.Mileage)</div>
            <div class="displayDetails">@String.Format("VIN: {0:C}", Model.VIN)</div>
            <div class="displayDetails">@String.Format("Drivetrain: {0}", Model.Drivetrain)</div>
            <div class="displayDetails">@String.Format("Extras: {0}", Model.Comments)</div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 reviewSection" style="border-radius: 25px; padding-bottom: 1em;">
        <h1 style="text-decoration:underline;">Review</h1>
        @using (Html.BeginForm("SubmitReview", "Car", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.CarId)
            <br />
            <div class="form-group">
                <span class="col-form-label" for="Rating">Rating</span>
                <input type="number" class="form-control" placeholder="Rating" name="reviewRating">
                @*@Html.TextBox("reviewRating", null, htmlAttributes: new { @class="form-control" })*@
            </div>

            @*@Html.Label("Title")
            @Html.TextBox("reviewTitle")*@
            <div class="form-group">
                <span class="col-form-label" for="Title">Title</span>
                <input type="text" class="form-control" placeholder="Title" name="reviewTitle">
            </div>

            @*@Html.Label("Body")
            @Html.TextArea("reviewBody")*@
            <div class="form-group">
                <label for="Body">Body</label>
                <textarea class="form-control" name="reviewBody"  rows="3"></textarea>
            </div>
            
            <button type="submit" class="btn btn-secondary">Submit</button>
        }
    </div>
    <div class="col-2"></div>
</div>
    @foreach (var review in Model.Review)
    {
        <div class="card text-white bg-primary col-sm-6 printReview">
            <div class="card-header">@review.Title</div>
            <div class="card-body">
                <h5 class="card-title">Rating: @review.Rating</h5>
                <p class="card-text">@review.Body</p>
            </div>
        </div>
    }
    <p class="pushdown">
        @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
