﻿@model CodysDealership.ViewModels.CarSearchResults
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";

    bool isAdmin =
        Request.IsAuthenticated &&
        (User.IsInRole("Admin"));
}
<br />
<h2>Index</h2>
@if (isAdmin)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm("Index", "Car", FormMethod.Get))
{
    var bodystyles = new SelectList(Model.BodyStyles, "BodyStyleId", "BodyType");
    var makes = new SelectList(Model.Makes, "MakeId", "MakeName");

        var sortByArray = new SelectListItem[]
        {
        new SelectListItem { Value = "name", Text = "Name"},
        new SelectListItem { Value = "year", Text = "Year"},
        new SelectListItem { Value = "make", Text = "Make"},
        new SelectListItem { Value = "bodystyle", Text = "Body Style"},
        };

    var sortByList = new SelectList(sortByArray, "Value", "Text");

<div class="mb-3" style="border: solid #375a7f 5px; padding: 8px; border-radius: 25px;">
    <span class="sortingCars">
        @Html.DropDownList("bodystyleId", bodystyles, "(All Body Styles)")
    </span>
    <span class="sortingCars">
        @Html.DropDownList("makeId", makes, "(All Makes)")
    </span>
    <span class="sortingCars">
        @Html.TextBox("search", (object)ViewBag.Search)
    </span>
    <span class="sortingCars">
        @Html.TextBox("minYear", (object)ViewBag.MinYear, htmlAttributes: new { placeholder = "min" })
        @Html.TextBox("maxYear", (object)ViewBag.MaxYear, htmlAttributes: new { placeholder = "max" })
    </span>
    <div style="float:right;">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</div>
}
@foreach (var item in Model.Results)
{
    //class="card-img-top" 
    <div class="card cardDetails">
        @if (!string.IsNullOrWhiteSpace(item.CarImage))
        {
            string url = Url.Content(
               MyConstants.CAR_IMAGE_PATH +
               MyConstants.THUMBNAIL_FOLDER_NAME +
               item.CarImage);
            <img src="@url" class="carImage card-img-top"/>
        }
            <div class="card-body">
                <h5 class="card-title">@String.Format("{0} {1} {2}", item.Year, item.Make.MakeName, item.ModelName)</h5>
                <p class="card-text">@String.Format("Price: ${0}", item.Price)</p>
                <p class="card-text">Mileage: @item.Mileage</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                <span style="border:solid black; width: 60px; text-align:center; background-color: black; border-radius: 25px; padding: 0.3em;">
                    @Html.ActionLink("Details", "Details", new { id = item.CarId })
                </span>
                @if (isAdmin)
                {
                    <span style="border:solid black; width: 60px; text-align:center; background-color: black; border-radius: 25px; padding: 0.3em;">
                        @Html.ActionLink("Delete", "Delete", new { id = item.CarId })
                    </span>
                    <span style="border:solid black; width: 60px; text-align:center; background-color: black; border-radius: 25px; padding: 0.3em;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.CarId })
                    </span>
                }
            </div>
    </div>
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CarId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CarId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CarId })
        </td>*@
}

<div style="clear:both;">
    @Html.PagedListPager(
        Model.Results,
        page => Url.Action("Index", new
        {
            Search = (object)ViewBag.Search,
            BodyStyleId = (object)ViewBag.BodyStyleId,
            MinYear = (object)ViewBag.MinYear,
            MaxYear = (object)ViewBag.MaxYear,
            SortBy = (object)ViewBag.SortBy,
            Page = page,
            ItemsPerPage = Model.Results.PageSize,
        }),
        new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true,
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            MaximumPageNumbersToDisplay = 5,
            PageCountAndCurrentLocationFormat = "Page of {0} of {1}"
        }
    )
</div>