﻿@model CodysDealership.Models.Make

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Make</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MakeId)

    <div class="form-group">
        @Html.LabelFor(model => model.MakeName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MakeName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MakeName, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.MakeImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MakeImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MakeImage, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.MakeImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 image-upload">
            @Html.EditorFor(
                model => model.MakeImage,
                new { HtmlAttribute = new { @class = "form-control m-1", size = 20, list = "movie_images" } })
            <input class="m-1" type="file" name="MovieImageFile" id="ImageInput" />
            @Html.ValidationMessageFor(model => model.MakeImage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
            $("#ImageInput").change(function (e) {
                $("#MakeImage").val(this.files[0].name);
            });
</script>
}
