﻿@model IEnumerable<CodysDealership.Models.Make>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MakeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MakeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MakeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MakeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MakeId })
        </td>
    </tr>
}

</table>
