﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Add margin to top of the page, so that it isn't covered by the navbar */   
html {
      margin-top: 3em;     
}

  /* Increase the size of the application name */   
.navbar .navbar-brand {
      font-size: 2em;
}

  /* Make placeholder text in fields semi-transparent */   
.navbar ::placeholder,   
.body-content ::placeholder {
      opacity: 0.5;
}

.displayDetails {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.printReview {
    max-width: 32%;
    float: left;
    margin: 2px;
}

.pushdown{
    clear:both;
}

.cardDetails{
    max-width: 32%;
    float: left;
    margin: 7px;
}

.center{
    display:block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    max-width: 100%;
    max-width: 100%;
}

.carImage{
    width: 100%;
    height: 200px;
    padding: 0 20px;
}

.sortingCars{
    padding: 0px 10px 0px 0px;
}

.reviewSection {
    background-color: #375a7f;
}

.nav-tabs .nav-link.active {
    border-color: #375a7f;
    background-color: #375a7f;
}

.nav-tabs .nav-link:hover {
    background-color: #6290c2;
}

.contactHeader {
    font-family: 'Abel', sans-serif;
}

.textboxInfo {
    position: absolute;
    right: 5%;
    top: 25%;
    background-color: #375a7f;
    margin-right: 5%;
    border-radius: 20px;
}