﻿<!DOCTYPE html>
<html>
@{ 
    bool isAdmin =
        Request.IsAuthenticated &&
        (User.IsInRole("Admin"));
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>
    <div class="navbar navbar-fixed-top fixed-top navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                ​@Html.ActionLink("Cody's Dealership", "Index", "Home",
                    new { area = "" }, new { @class = "navbar-brand" })                 
                <button type="button"   
                        class="navbar-toggle navbar-toggler"  
                        data-toggle="collapse"   
                        data-target="#navbarColor01"   
                        aria-controls="navbarColor01"   
                        aria-expanded="false"   
                        aria-label="Toggle navigation">                     
                    <span class="navbar-toggler-icon"></span>                 
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Home",
                   "Index", "Home",
                   null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Cars",
                   "Index", "Car",
                   null, new { @class = "nav-link" })
                    </li>
                    @if (isAdmin)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Make",
                            "Index", "Make",
                            null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Body Style",
                            "Index", "BodyStyle",
                            null, new { @class = "nav-link" })
                        </li>
                    }
                    <li class="nav-item">
                        @Html.ActionLink("Contact",
                   "Contact", "Home",
                   null, new { @class = "nav-link" })
                    </li>
                </ul>
            @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content"">
        @RenderBody()
        <hr />
        <footer style="clear:both;">
            <p>&copy; @DateTime.Now.Year - Cody's Dealership</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
